<!doctype html>
<html lang="fr">

<!-- version 1.0 -->

	<head>
		<meta charset="utf-8">

		<title>Vue.js en 2021</title>

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/simple.css" id="theme"> 

		<link rel="stylesheet" href="plugin/highlight/github.min.css">

<style> 
body, .force-non-code {
  font-family: Arial;
}
.footer {
   height: 1.7em;
   position: fixed;
   bottom: 0;
}
.footer-left {
   left: 0.3em;
}
.footer-right {
   right: 0.3em;
   vertical-align: top;
}
.footer-right img {
  height: 2em;
  margin-top: -0.3em;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-down { display: none; }
 
.reveal .progress { height: 0.3em; }

.reveal .controls .slideNb {
  position: relative;
  opacity: 1;
  z-index: -1;
  display: inline-block;
  vertical-align: middle;
  line-height: 110px;
  height: 110px !important;
  width: 110px;
  text-align: center;
  border: 0;
  font-size: 20px;
  color: #ff6600;
}

@media (max-width: 767px) { 
  .footer-left {
    top: 0.3em;
    bottom: auto;
  }
}

.reveal .slides {
  text-align: left;
}
/* override reveal.js settings */
.reveal h2, .reveal h3 { 
	-webkit-hyphens: manual;
	   -moz-hyphens: manual;
	        hyphens: manual;
}
.reveal h2, .reveal h3, .reveal h4, .reveal .center {
  text-align: center;
}

.reveal h2 {
  color: #fff;
  background-color: #003366;
  display: block;
  padding: 0.3em;
  Xtop: 0px;
}
.reveal h4 {
  color: #ff6600;
  font-weight: bold;
}
.reveal small {
  vertical-align: middle;
}

.blue {
    color: #003366;
}

.reveal ul li,.reveal ol li {
  margin: 0.1em 0;
  padding-left: 0.15em; 
}

.reveal .progress {
  background: rgba(255, 102, 0, 0.1);
}
.reveal .progress span {
  background: rgba(255, 102, 0, 0.8);
}

.reveal .slides>section,
.reveal .slides>section>section {
  padding: 0 0 110px 0;
}
.h1em {
  height: 1em;
}
.vspace {
  padding-top: 0.4em !important;
}

.as-if-no-link {
  color: black !important;
}

.reveal pre {
  width: 100%;
}
.reveal table pre {
    margin: 6px;
}

table.valign-middle td { vertical-align: middle; }
table.with-border { border-collapse: collapse; width: 100%; }
table.with-border th { text-align: center; padding-bottom: 0.1em; min-width: 3em; }
table.with-border td { border: 1px solid; border-bottom-color: #ccc; padding: 0.2em !important; }
table.with-border.title-on-left tr td:first-child { border-left: none; border-top: none; border-bottom: none; vertical-align: middle; text-align: right; padding-right: 0.7em !important; }
table.with-border tr:last-child td { border-bottom-color: #000; }
table.with-border td.light-border-right { border-right-color: #ccc; border-right-style: dashed; }
table.with-border td.light-border-left { border-left-color: #ccc; border-left-style: dashed; }

table.fake-border th { text-align: center; }
table.fake-border { width: 100%; }

table.title-on-left {
  width: 100%;
}
table.title-on-left th {
  text-align: center;
  vertical-align: bottom;
  font-size: 90%;
}
table.title-on-left td {
  text-align: center;
}
</style>
	</head>

	<body>

		<div class="reveal">

			<div class="slides">

<section>

<h2>Vue.js en 2021</h2>

<p class="h1em">
<h4>pascal @ rigaux.org</h4>
</section>

<!-------------------------------------------------->
<section data-transition="fade">
    <h2>Plan</h2>
    <ul>
        <li>Mes expériences</li>
        <li>Contexte</li>
        <ul>
            <li>Javascript récent</li>
            <li>Typescript</li>
            <li>npm</li>
            <li>Single Page Application</li>
        </ul>
        <li>Vue.js</li>
        <ul>
            <li>comparé à jQuery</li>
            <li>comparé à React & Angular</li>
            <li>Vue3</li>
            <li>outils & librairies</li>
        </ul>
    </ul>
</section>

<!-------------------------------------------------->
<section data-transition="fade">
    <h2>Mes expériences</h2>
    <ul>
        <li>2000-2009 : Perl, OCaml...</li>
        <li>2010 : arrivée à la DSI de l'université Paris 1 <small>(Panthéon Sorbonne)</small><br>➡ débuts en dev web (PHP, Java, Perl, Javascript)</li>
        <li>2013 : un projet migré de JSF vers AngularJS</li>
        <li>2015 : un projet créé en Node.js & AngularJS</li>
        <li>2017 : plusieurs projets migrés de AngularJS à Vue.js</li>
        <li>2021 : petits projets migrés de Vue 2 en Vue 3</li>
    </ul>
</section>

<!-------------------------------------------------->
<section>
    <h2>Javascript récent</h2>

    Standard on most browsers (except Safari 9 or IE)
    <br>

    <small class="fragment blue" style="display: block; float: right; width: 14rem; border-left: 1px dashed gray; padding-left: 1rem">
        « standard pas toujours respecté » par les navigateurs ? FAUX
        <br><br>« class » disponible dans Javascript, pas que Typescript
        <br><br>« { addresse } au lieu de { address: address } » disponible dans Javascript, pas que Typescript
    </small>

    
    <style>
        li pre code.hljs { padding: 3px }
    </style>
    <ul style="list-style: none;">
        <li><a href="http://es6-features.org/#ClassDefinition"><pre><code class="data-trim">class Meal { … }</code></pre></a></li>
        <li><a href="http://es6-features.org/#ValueExportImport"><pre><code>import { foo } from 'ma_lib.js'</code></pre></a></li>
        <li><a href="http://es6-features.org/#ExpressionBodies"><pre><code>(e) => e+1</code></pre></a></li>
        <li><a href="http://es6-features.org/#StringInterpolation"><pre><code>`Hello ${name}`</code></pre></a></li>
        <li><a href="http://es6-features.org/#PropertyShorthand"><pre><code>return { x, y }</code></pre></a></li>
        <li><a href="http://es6-features.org/#ObjectMatchingShorthandNotation"><pre><code>const { x, y } = position()</code></pre></a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax"><pre><code>{ x, ...pos }</code></pre></a></li>
    </ul>
    <br>Plus récent :
    <br>
    <ul style="list-style: none;">
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining"><pre><code>pos?.x</code></pre></a></li>
        <li><a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Instructions/async_function"><pre><code>async, await</code></pre></a></li>
        <li><a href="http://es6-features.org/#MethodProperties"><pre><code>return { foo() {} }</code></pre></a></small></li>
  </ul>
</section>

<!-------------------------------------------------->
<section>
    <h2>Javascript récent</h2>
    <h3>Classes & this</h3>

    <pre><code class="data-trim javascript">class Meal {
    constructor(food) {
        this.food = food
    }
    
    eat() {
        const food = this.food
        this.food = null
        return food
    }
}</code></pre>

    ⚠ <code>this</code> n'est <b>pas</b> optionnel en Javascript.

</section>

<!-------------------------------------------------->
<section>
    <h2>Javascript récent</h2>
    <h3>Classes & arrow functions</h3>

    <table>
        <tr><td>
        <pre><code class="data-trim javascript">class Meal {
    constructor(food) {
        this.food = food
    }

    eat() {
        setTimeout(function () {
            this.food = null // ERROR 
        }, 1000)
        return this.food
    }
}</code></pre>
    </td><td>

    <pre><code class="data-trim javascript">class Meal {
    constructor(food) {
        this.food = food
    }
    
    eat() {
        setTimeout(() => {
            this.food = null // OK 
        }, 1000)
        return this.food
    }
}
 </code></pre>
    </td></tr></table>

    Les arrow functions sont très utiles.
    <br>
    Limite : ne pas les utiliser pour définir des méthodes
    
</section>

<!-------------------------------------------------->
<section>
    <h2>Javascript récent</h2>

L'alternative aux classes :
    <table class="fake-border">
        <tr><th>Classes</th><th>Method properties</th><th>Le couteau suisse</th></tr>
        <tr><td>
    <pre><code class="data-trim javascript">class Meal {
  constructor(food) {
    this.food = food
  }
  
  eat() {
    const food = this.food
    this.food = undefined
    return food
  }
}</code></pre>

    </td><td>
    <pre><code class="data-trim javascript">const Meal =
 (food) => ({



  eat() {
    const food_ = food
    food = undefined
    return food_
  }
})</code></pre>
    </td><td>
    <pre><code class="data-trim javascript">const Meal =
 (food) => {   


  const eat = () => {
    const food_ = food
    food = undefined
    return food_
  }
  return { eat }
}</code></pre>
    </td></tr>
</table>

Ces closures sont plus couteuses en mémoire, mais sont très « composables » :
<br>
<ul>
    <li>utilisé par la <a href="https://v3.vuejs.org/guide/composition-api-introduction.html">Composition API de Vue 3</a></li>
    <li>utilisé pour les React Hooks (<a href="https://usehooks.com/useAsync/">exemple</a>)</li>
</ul>


</section>

<!-------------------------------------------------->
<section>
    <h2>Javascript récent</h2>

    <p>
        <img src="img/callback-hell.png" width="400px" style="vertical-align: middle; margin: 0 1rem 0">
        <span style="display: inline-block;">
            Callback hell ? <br>
            résolu avec async/await !
            </span>
</p>

    <table class="fake-border">
        <tr><th>Javascript</th><th>Kotlin</th></tr>
        <tr><td><pre><code class="javascript">Promise&lt;T&gt;</code></pre></td>
            <td><pre><code class="kotlin">Deferred&lt;T&gt;</code></pre></td></tr>
        <tr><td><pre><code class="javascript">async function myAsyncF(…) { … }</code></td>
            <td><pre><code class="kotlin">suspend fun myAsyncF(…) { … }</code></pre></td></tr>
        <tr><td><pre><code class="javascript">await myAsyncF(…)</code></td>
            <td><pre><code class="kotlin">myAsyncF(…)</code></pre></td></tr>
        <tr><td><pre><code class="javascript">myAsyncF(…)</code></td>
            <td><pre><code class="kotlin">async { myAsyncF(…) }</code></pre></td></tr>
    </table>
    <small><a href="https://medium.com/@joffrey.bion/kotlins-suspend-functions-are-not-javascript-s-async-they-are-javascript-s-await-f95aae4b3fd9">Ref</a></small>
</section>

<!-------------------------------------------------->
<section>
    <h2>Javascript récent</h2>
    <h3>Tendances</h3>
    <ul>
        <li>utilisation de Webpack/Rollup/esbuild pour bundle/minify/cache-buster <small>(<a target="_blank" href="https://annuaire.univ-paris1.fr/">exemple</a>)</small></li>
        <li>utilisation de Typescript</li>
        <li>utilisation de babel/esbuild/tsc pour écrire du Javascript récent qui tourne sur des vieux navigateurs</li>
    </ul>
</section>

<!-------------------------------------------------->
<section>
    <h2>Typescript</h2>

    <ul>
        <li>won over Dart/Flow (Google abandonne AngularDart, mais au profit de Flutter)</li>
        <li>de plus en plus de librairies sont en Typescript, d'autres fournissent leurs types (fichiers .d.ts) ou sont fournis sur <a href="https://github.com/DefinitelyTyped/DefinitelyTyped">DefinitelyTyped</a></li>
        <li>qques fonctionnalités en plus de Javascript, notamment les <a href="https://www.typescriptlang.org/docs/handbook/2/classes.html#parameter-properties">parameter properties</a>, <a href="https://www.typescriptlang.org/docs/handbook/decorators.html">decorators</a> <small>(expérimental)</small>, JSX
        <li>biggest gradual typing success (see also "dynamic" in C#/kotlin)</li>
        <li>vérifié à la compilation, mais ignoré à l'exécution</li>
        <li>les navigateurs gèrent des js.map pour les msgs console, pour le débogueur...</li>
    </ul>
</section>

<!-------------------------------------------------->
<section>
    <h2>Typescript</h2>
    <h3>Adapté à Javascript</h3>

    <ul>
        <li>Permissif !</li>

<pre><code class="typescript">"" + 1
"" + (() => 1)
(1 as any)[0]</code></pre>

<a href="https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#any"><code>any</code></a> is hell 🤮 but useful 🤫
<br>toujours utiliser <a href="https://www.typescriptlang.org/tsconfig#strict">strict</a> qui implique <a href="https://www.typescriptlang.org/tsconfig#noImplicitAny">noImplicitAny</a>
<br><small>(mais peut-être désactiver "strictNullChecks" et "useUnknownInCatchVariables")</small>

</ul>
</section>

<!-------------------------------------------------->
<section>
    <h2>Typescript</h2>
    <h3>Adapté à Javascript</h3>

    <ul>
<li>Puissant

<pre><code class="typescript">type StringOrNumber = string | number;
type ProcessStates = "open" | "closed";
type OddNumbersUnderTen = 1 | 3 | 5 | 7 | 9;</code></pre>
capable de gérer : <a href="https://www.typescriptlang.org/play#example/union-and-intersection-types">Union & Intersection types</a>, <a href="https://www.typescriptlang.org/play?#code/MYGwhgzhAEAKYCcEHsAu0DeAoavoWQFcA7AE2gF5oAiCAR0LAHcBragbiwF8tRIYAIoWAtMOPARLkq1BmBEdxuCEwCWAWwAUASmx590YMmIEQAUwB0IZAHNN1AOLJVxG9ABmyBNDDRSqgAcAQmptTn0eHiMTdADEFHQqYjMmOHi0HU5oiHRSYVEklOghEUycXmMc6BBKaABtaDikNAAaP3zoAF0Kk2RzK1tNEAt1MADNXwoAPh8LSTJtbR7TS2s7YdHxyZmwObUtRe0gA">Duck Typing</a>, anonymous object types...
</li>
</ul>

</section>

<!-------------------------------------------------->
<section>
    <h2>Typescript</h2>
    Suffisament puissant pour typer l'alternative aux classes :

    <table class="fake-border">
        <tr><th>Classes</th><th>Method properties</th><th>Le couteau suisse</th></tr>
        <tr><td>
    <pre><code class="data-trim javascript">class Meal {
  constructor(private food?: string) {}
  
  eat() {
    const food = this.food
    this.food = undefined
    return food
  }
}</code></pre>

    </td><td>
    <pre><code class="data-trim javascript">const Meal =
 (food?: string) => ({

  eat() {
    const food_ = food
    food = undefined
    return food_
  }
})</code></pre>
    </td><td>
    <pre><code class="data-trim javascript">const Meal =
 (food?: string) => {   

  const eat = () => {
    const food_ = food
    food = undefined
    return food_
  }
  return { eat }
}</code></pre>
    </td></tr>
</table>
<a target="_blank" href="https://www.typescriptlang.org/play?#code/MYGwhgzhAECyCmYTQN4ChrWAewHYQBcAnAV2AOyIAoAHIgSwDcwD5oAzbbAEwH4AuaIQa4A5gEpUAXwzRZiAlUnpMmHPgIcu3aAF5oBABb0IAOk49ZmIyfPa90Erm7x29XPG5XoReARJEuFqWmDIyaOqEcIggAEx6GFQWfILC7hJ6AHzQVOjyLEqo3pGayQD6DsneyQ5OLm4eXqo+fgFB5bJh4mgReFEISADMCTnJAkLE6ZK62SiqPWp9mgoOhTNFzSXB3BX6Vc01+nWu7p7evv6B22WdshdtqNArYT1bFpj6HgDu0UhUAEQWf7dN5ceL6AZxAEWWLA3oaYLDCExQbQriDOFbZD6ADawQANMFYoSLMMALpoEB2IgAUTAwEMVDY60i2BA8FMIGwoiZpgUSnE3SAA">Test it</a>

<p></p>
<small>Notez l'utilisation des "parameter properties" dans le constructeur</small>
</section>

<!-------------------------------------------------->
<section>
    <h2>npm</h2>
    <h3 style="font-size: 140%;">Le gestionnaire de paquets de node.js</h3>

<ul>
<li>utilisé pour les outils (create-react-app, vue-cli, vite, webpack...)
    <ul>
    <li>ces outils sont en Javascript/Typescript, mais on commence à en voir en Go (esbuild) (binaires statiques)</li>
    <li>gèrent notamment le transpiling, mais attention aux besoins en <a href="https://stackoverflow.com/questions/43756211/best-way-to-polyfill-es6-features-in-react-app-that-uses-create-react-app">polyfills</a> pour les vieux navigateurs</li>
    </ul></li>
<li>utilisé pour télécharger les librairies client-side<br>(react, vue, axios, lodash...)
    <small> car <a href="https://bower.io/blog/2017/how-to-migrate-away-from-bower/">Bower a perdu la course</a></small>
</li>
<li>semver et package-lock.json <small>(ou yarn.lock)</small></li>
</ul>
</section>

<!-------------------------------------------------->
<section data-transition="fade">
<h2>Single Page Application ?</h2>
<h3>Page web classique</h3>
<div class="center">
  <img src="img/page.png">
</div>
</section>

<!-------------------------------------------------->
<section data-transition="fade">
<h2>Single Page Application ?</h2>
<h3>Page web classique</h3>
<div class="center">
  <img src="img/page-with-simple-js.png">
</div>
</section>

<!-------------------------------------------------->
<section data-transition="fade">
<h2>Single Page Application ?</h2>
<h3>Partial updates</h3>
<div class="center">
  <img src="img/partial-html.png">
</div>
Exemple : grouper lite UI
</section>

<!-------------------------------------------------->
<section data-transition="fade">
<h2>Single Page Application ?</h2>
<h3>Mixte</h3>
<div class="center">
  <img src="img/mixte.png">
</div>
Exemple : esup-filemanager
</section>

<!-------------------------------------------------->
<section data-transition="fade">
<h2>Single Page Application ?</h2>
<h3>Single Page Application</h3>
<div class="center">
  <img src="img/SPA.png">
</div>
Exemple : esup-smsu
</section>

<!-------------------------------------------------->
<section>
<h2>Single Page Application</h2>

<ul>

<li>toute la navigation est faite en Ajax
<li>toutes les actions sont faites en Ajax :
<br> &#10145; on s'abstrait des contraintes des &lt;form&gt; HTML
<br> &#10145; les données client-&gt;serveur peuvent être complexes

<li>templates transformés en javascript exécuté dans le navigateur

<li>routage avec URLs (grâce à <a href="https://developer.mozilla.org/en-US/docs/Web/API/History_API/Working_with_the_History_API">History API</a>)

<li>données de navigation conservées en mémoire dans le navigateur
<li>la session serveur ne stocke que le login ! re-log transparent
<li>debug facile dans le navigateur (<small>instruction <code>debugger</code></small>)

</ul>

⚠ programmation asynchrone !

</section>

<!-------------------------------------------------->
<section style="font-size: 95%">
<h2>SPA Javascript vs JSF</h2>

<h4>inconvénients de Vue/React/Angular</h4>
<ul>
<li>le code serveur doit être plus fiable, le spoofing des paramètres d'entrée étant facile
<li>validateurs souvent dupliqués côté client
<li>rôles vérifiés côté client et côté serveur
<li>traductions côté client et un peu côté serveur <small>(pour l'envoi de mails par exemple)</small>
</ul>
<p>
<h4>avantages</h4>
<ul>
<li>réactivité de l'interface
<li>bonne intégration avec le javascript :)
<li>simple de faire des composants UI réutilisables
<li>plugins navigateur facilitant l'inspection des composants & état</li>
</ul>
</section>

<!-------------------------------------------------->
<section>
<h2>SPA Javascript</h2>
<h4>inconvénients</h4>
<ul>
<li>plus gourmand qu'une page web sans JS, notamment si utilisation de beaucoup de libraires ! <small>(mais possibilité de charger dynamiquement les libs uniquement pour certaines URLs)</small>
<li>indexation plus compliquée (pour les moteurs de recherche)&nbsp;: peut nécessiter SSR
<li>prévenir les clics doublés pendant l'attente
<li><small>nécessiter un navigateur récent (pas de MSIE avec Vue 3)</small>
</ul>

<h4 style="padding-top: 1rem">sécurité et mises à jour</h4>
IMO pas un vrai sujet car tourne dans le navigateur

</section>

<!-------------------------------------------------------------------------->
<section>
    <h2>Présentation de Vue.js</h2>

    <table>
        <tr><td>
            <ul>
                <li>Vue.js est l'héritier de AngularJS</li>
                <li>Se situe entre React et Angular</li>
                <li>Vue 3 sorti en 2020 avec meilleur support Typescript et la Composition API</li>
                <li><a href="https://github.com/vuejs/petite-vue">petite-vue</a> : projet séparé spécialisé pour les cas d'usage de jQuery</li>
            </ul>
            <small>NB : React et Angular sont à égalité pour les demandes de jobs sur linkedin</small></li>
        </td><td>
            <small class="fragment blue" style="width: 14rem; border-left: 1px dashed gray; padding-left: 1rem">
                Angular « sur le marché depuis plus longtemps » ?? FAUX : React (2013) profité du temps de dev de Angular >= 2 (2016) pour percer
                <p></p>
                Angular a « bien plus d'outils et librairies compatibles » ?? pas sûr, écosystème React très riche</li>
                <p></p>
                performance : Angular n'est PAS plus performant (<a target="_blank" href="img/js-framework-benchmark.png">comparaison</a>)
            </small>
        </td></tr>
    </table>
    
</section>

<!-------------------------------------------------->
<section>
    <h2>Vue.js</h2>
    <h3>jQuery</h3>

    <h5>Surcouche aplanissant les différences entre les navigateurs
    <span class="fragment blue">: moins utile depuis que les vieux IE sont morts</span>
    </h5>
    <p></p>
    <ul>
    <li>sélecteurs à la CSS, manipulation DOM
        <span class="fragment blue"><br>à la main ou moteur de template</span>
    </li>
    <li>requêtes Ajax
        <span class="fragment blue"><br><a href="https://developer.mozilla.org/docs/Web/API/Fetch_API/Using_Fetch">fetch</a> ou librairie « axios »</span>
    </li>
    <li>utilitaires (each, map, extend...)
        <span class="fragment blue">
            <br>standard pour les Array
            <br>standard avec Spread syntax pour les Objects
            <br>pour le reste librairie <a href="https://lodash.com/docs/">lodash</a>
        </span>
    </li>
</ul>
</section>

<!-------------------------------------------------------------------------->
<section>
    <h2>jQuery - Vue.js</h2>
    <div>
        <span style="vertical-align: top; margin-right: 1em;">Exemple</span>
        <iframe style="border: 1px solid black; height: 2em;" src="show-onclick.html"></iframe>
    </div>
    <table class="fragment"><tr>
<td><pre><code data-trim class="html">
&lt;div&gt;
  &lt;button id="button"&gt;Afficher&lt;/button&gt;
  &lt;div id="content"&gt;Long texte...&lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;  
$('#content').hide();
$('#button').click(function() {
  $('#content').show();
});
&lt;/script&gt;
</code></pre></td>

<td><pre><code data-trim class="html">
&lt;div id="app"&gt;
  &lt;button @click="visible = true"&gt;Afficher&gt;/button&gt;
  &lt;div v-if="visible"&gt;Long texte...&gt;/div&gt;
&lt;/div&gt;
        
&lt;script&gt;  
new Vue({
  el: '#app',
  data: { visible: false }
});
&lt;/script&gt;
</code></pre>
</td>
</tr></table>        
<span class="fragment">
    Vue.js assure la mise à jour du DOM,
    <br>à partir d'un état conservé en mémoire (<code>data</code> + <code>props</code>)
</span>
</section>

<!-------------------------------------------------------------------------->
<section>
    <h2>jQuery - Vue.js</h2>
    <div>
        <span style="vertical-align: top; margin-right: 1em;">Exemple 2</span>
        <iframe style="border: 1px solid black; height: 2em;" src="toggle.html"></iframe>
    </div>
    <table class="fragment"><tr>
<td><pre><code data-trim class="html">
&lt;div&gt;
  &lt;button id="button"&gt;Afficher&lt;/button&gt;
  &lt;div id="content"&gt;Long texte...&lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;  
$('#content').hide();
$('#button').click(function() {
  $('#content').toggle();
  $('#button').text(
    $('#content').is(":visible") ? 'Cacher' : 'Afficher'
  );
});    
&lt;/script&gt;
</code></pre></td>

<td><pre><code data-trim class="html">
&lt;div id="app"&gt;
    &lt;button @click="visible = !visible"&gt;
        {{visible ? 'Cacher' : 'Afficher'}}
    &lt;/button&gt;
    &lt;div v-if="visible"&gt;Long texte...&lt;/div&gt;
&lt;/div&gt;
        
&lt;script&gt;  
new Vue({
  el: '#app',
  data: { visible: false }
});
&lt;/script&gt;
</code></pre></td>
</tr></table>        
<span class="fragment">
    Vue.js assure la mise à jour du DOM de façon <i>réactive</i>
</span>
</section>

<!-------------------------------------------------------------------------->
<section>
    <h2>Éléments de choix</h2>
<table style="font-size: 70%" class="title-on-left with-border">
	<tr>
		<th></th>
		<th>React</th>
		<th>Vue.js</th>
		<th>Angular</th>
	</tr>
	<tr>
		<td>documentation</td>
		<td></td>
		<td><a href="https://v3.vuejs.org/guide/">bonne</a></td>
		<td></td>
	</tr>
	<tr>
		<td>apprentissage</td>
		<td>moyen</td>
		<td>moyen</td>
		<td>long</td>
	</tr>
	<tr>
		<td>flexibilité, nombreux choix à faire</td>
		<td>oui</td>
		<td>moyen</td>
		<td>framework complet</td>
	</tr>
	<tr>
		<td>poids</td>
		<td>moyen</td>
		<td>léger</td>
		<td>moyen/gros</td>
    </tr>
	<tr>
		<td>compilation</td>
		<td>pour JSX</td>
		<td>optionnel <small>(nécessaire pour les Single File Component)</small></td>
		<td>pour Typescript</td>
	</tr>
	<tr>
		<td>vérification de types</td>
		<td>possibilité d’utiliser Typescript</td>
		<td>possibilité d’utiliser Typescript <small>mais pas complètement mature dans IDE</small></td>
		<td>Typescript</td>
	</tr>
</table>
</section>

<!-------------------------------------------------------------------------->
<section>
    <h2>Éléments de choix</h2>

(à prendre avec des pincettes !)
<p></p>
<table style="font-size: 70%" class="title-on-left with-border">
	<tr>
		<th></th>
		<th>React</th>
		<th>Vue.js</th>
		<th>Angular</th>
	</tr>
	<tr>
		<td>taille équipe</td>
		<td></td>
		<td>petite</td>
		<td>grande</td>
	</tr>
	<tr>
		<td>taille application</td>
		<td>moyenne ou grande avec Redux</td>
		<td>petite</td>
		<td>grande</td>
	</tr>
	<tr>
		<td>travail avec designers en HTML</td>
		<td>difficile à cause de JSX</td>
		<td>possible</td>
		<td>possible</td>
	</tr>
	<tr>
		<td>utilisé par</td>
		<td>Airbnb, Dropbox, eBay, Facebook, Netflix...</td>
		<td>Adobe, Alibaba, Baidu, Expedia, GitLab, Laravel, Xiaomi</td>
		<td>Google, Microsoft, Deutsche Bank, Forbes, PayPal, Samsung</td>
	</tr>
</table>
</section>

<!-------------------------------------------------------------------------->
<section>
    <h2>Vue.js comparé à React</h2>

    Vue.js a plus de fonctionnalités que React :
<ul>
  <li>automatic dependency tracking (using proxy)</li>
  <li>two way data-binding using events</li>
  <li>moteur de template. En React danger d'avoir du HTML disséminé au milieu du code</li>
  <li>scoped css fourni avec SFC</li>
</ul>

<p></p>    
⚠ support templates / SFC encore peu mature dans VSCode, notamment avec support Typescript.
<p></p>
Vue.js supporte aussi JSX/TSX. <a href="https://areknawo.com/vue-with-tsx-the-perfect-duo/">Choix intéressant ?</a>

</section>

<!-------------------------------------------------------------------------->
<section>
    <h2>Vue.js comparé à Angular</h2>

    <ul>
        <li>templating un peu similaire (mais Angular manque v-else)</li>
        <li>props/events similaire à @Input/@Output</li>
    </ul>
    <p></p>    
    Vue.js moins structuré que Angular :
<ul>
  <li>utilisation des classes + décoration optionnelles</li>
  <li>pas de lib HTTP<br>Angular a les Observables... souvent trop complexes !</li>
  <li>pas de dependency injection (mais axios-mock-adapter)</li>
</ul>

</section>

<!-------------------------------------------------->
<section>
    <h2>Vue.js 3</h2>

    <ul>
        <li>sorti en 2020 mais support migration en 2021</li>
        <li>écrit en Typescript, comme Angular</li>
        <li>meilleur support typescript</li>
        <li>Composition API, alternative à l'Options API
            <ul>
                <li>inspiré des React Hooks alternative aux Class Components (<a href="https://dev.to/subdeveloper/migrating-from-class-components-to-react-hooks-4lp3">exemple</a>) sortis en 2019</li>
                <li>NB : différences importantes</li>
            </ul>
        </li>
        <li>pas compatible Internet Explorer</li>        
    </ul>

</section>

<!-------------------------------------------------->
<section>
    <h2>Vue.js tooling</h2>
    <ul>
 <li>vue-cli : comparable à create-react-app (mais plus customisable sans "eject") ou à Angular CLI</li>
 <li>mieux : 😍 <a href='https://vitejs.dev/guide/'>Vite</a><ul>
  <li>super performant en dev : <ul>
    <li>esbuild pour les librairies</li>
    <li>pas de bundling pour les sources, utilisation directe de l'import des modules</li>
    <li>out-of-band typescript type checking</li>
    </ul></li>
  <li>compatible React</li>
  <li><a href="https://github.com/angular/angular/issues/43131">envié par Angular</a></li>
</ul></li>

    </ul>
    
    </section>
    
<!-------------------------------------------------->
<section>
    <h2>Vue.js tooling</h2>
    <ul>
<li><a href="https://v3.vuejs.org/guide/migration/introduction.html#ide-support">IDE recommandé pour Vue 3</a> : VSCode avec Volar</li>
<li>😍 <a href="https://devtools.vuejs.org/guide/installation.html">Vue Devtools</a> pour Chrome/Firefox</li>
<li>Vuex, equivalent de Redux / NgRx. Pratique avec plugin navigateur : permet le retour dans le passé</li>
<li>Vue Router</li>
<li>Component Testing avec <a href="https://v3.vuejs.org/guide/testing.html">Vue Test Utils</a></li>
<li>SSR pour SEO : possible mais je ne connais pas</li>
    </ul>
    
    </section>

<!-------------------------------------------------->
<section>
    <h2>The end!</h2>

    Demo ?

    <p></p>
    Questions ?
</section>

<!-------------------------------------------------------------------------->
			</div>
		</div>

<div class="footer footer-left"></div>

<div class="footer footer-right"></div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			Reveal.initialize({
	margin: 0,
	controls: true,
	progress: true,
	history: true,
	center: true,

	theme: 'simple', // available themes are in /css/theme
	transition: 'linear', // default/cube/page/concave/zoom/linear/fade/none

	dependencies: [ 
			// Cross-browser element.classList (esp needed on safari 4.0.5)
			{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },

			// Syntax highlight for <code> elements
		        { src: 'plugin/highlight/highlight.min.js', async: true, callback: function() { 
                    hljs.getLanguage("kotlin").keywords.keyword += " async"
                    hljs.highlightAll(); 
                } }

			],
});

       function createSingletonNode( container, tagname, classname, innerHTML ) {

                var node = container.querySelector( '.' + classname );
                if( !node ) {
                        node = document.createElement( tagname );
                        node.classList.add( classname );
                        if( innerHTML !== null ) {
                                node.innerHTML = innerHTML;
                        }
                        container.appendChild( node );
                }
                return node;

        }

// From https://github.com/hakimel/reveal.js/pull/56
function slidenumber(event){
  var current_slide = 0;

  var horizontal_slides = document.querySelectorAll( '.reveal .slides>section' );
  for (var i = 0; i < event.indexh; i++) {
    // get subslides
    var subslides = horizontal_slides[i].querySelectorAll('section');

    // if subslides.length is 0, add 1 for horizontal slide, else add subslides.length
    current_slide += (subslides.length === 0) ? 1 : subslides.length;
  }

  current_slide += event.indexv+1;
  return current_slide.toString();
}

function setSlideNb(event) {
  var dom = createSingletonNode(document.querySelector(".controls"), "div", "slideNb");
  dom.innerHTML = event.indexh ? event.indexh : '';
}

Reveal.addEventListener('slidechanged', setSlideNb);
Reveal.addEventListener('ready', setSlideNb);

		</script>

	</body>
</html>
